<% @categories.each do |category|%>
  <% if @categories.first == category%>
    <li class="active">
      <%= link_to category.name, "#course#{category.id}" , { "data-toggle" => "tab" }%>
    </li>
    <% else %>
      <li>
        <%= link_to category.name, "#course#{category.id}" , { "data-toggle" => "tab" }%>
      </li>
  <%end%>
<%end%>