<div class="tab-pane" id="wordlist">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 container ed_dashboard_tab_info " id="wordlist">
    <% if @categories.count != 0%>
      <h3>
        <%= t('layouts.sidebar.wordlist')%>
      </h3>
        <ul class="nav nav-tabs ">
          <%= render "category_name", collection: @categories %>
        </ul>
        <div class="tab-content">
          <%= render "category_content", collection: @categories %>
        </div>
    <% else %>
      <h3><%= t("wordlist.not_join")%></h3>
    <% end %>
  </div>
</div>